body {
	background-color: #e7e7e7;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-style: normal;
    font-weight: 300;
    margin: 0;
}

.card{
	margin: 30px auto;
	border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
    width: 600px;
    padding: 30px;
   
}





h1{
	margin: 0;
}

input{
    padding: 10px;
    width: 250px;
    border-radius: 6px;
    border:none;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
}

.aviso {
    position:fixed;
    right:30px;
    top:30px;
    padding: 12px;
    background-color: black;
    opacity: 0.8;
    color: #fff;
    font-size: 13px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
}

.vermelho {
background-color: crimson;
color: #fff;
}

.azul{
    background-color: cyan;
    color: #000;
}

.verde{
    background-color: lawngreen;
    color:#000;

}

#telefone{
    display: none;
}